.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #efefef;
    border-radius: 5px;
    background-color: #ffffff;
}

.form-group {
    margin-bottom: 20px;
}

body{
    background-color: #3498db;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #efefef;
    background-color: #efefef;
    border-radius: 1px;
    margin-bottom: 10px; 
    resize: vertical; 
}

button[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}